<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCx_2ArI9xZqL6Wk4VkM4xhywXcV-1bu7o</string>
	<key>GCM_SENDER_ID</key>
	<string>482552608833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordcards</string>
	<key>PROJECT_ID</key>
	<string>mydict-194ff</string>
	<key>STORAGE_BUCKET</key>
	<string>mydict-194ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482552608833:ios:fc7f41e598b218fe9e6ec0</string>
</dict>
</plist>